@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins|Roboto&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif; */

.main-home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #F9F9F9;
}
.home-pic-bio-div {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem 1rem 3.3rem;
  margin: 1rem 4rem 1rem 4rem;
  border-left: black solid; 
  border-right: black solid;
}
.about-me-header {
  text-align: center;
}
.pic {
  text-align: center;
}
.andrew-pic {
  width: 360px;
  height: 480px;
  border-radius: 15%;
}
.bio {
  text-align: right;
  font-family: 'Poppins', sans-serif;
}
.andrew-pic-test {
  width: 250px;
  height: 320px;
  border-radius: 15%;
  margin-right: 4rem;
}
.andrew-pic-last {
  width: 250px;
  height: 320px;
  border-radius: 15%;
}
.favorite-authors-books-div {
  text-align: center;
}
.book-title {
  margin-right: 4rem;
}
.favorite-authors-books-div-last {
  text-align: center;
}
.favorite-authors-books {
 display: flex;
 font-size: 10px; 
 justify-content: flex-end;
}